form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}
input {
    display: table-cell;
    margin-bottom: 10px;
}
img{
    opacity: 0.5;
}

.container {
    display: flex;
}
  LEQUAIANTIQUE {
    background-color: rgb(126, 38, 38);

}
h2{
    background-color: rgb(246, 255, 127);
    color: rgb(255, 0, 0);
}
p{
    color :rgba(230, 87, 26, 0.842)

}
h3{
align-items: center;
color:black
}   










 