form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
h1{
    text-align: center;
}
img {
    opacity: 0.5;
}
text {
    position : absolute
}
.menu-cards p{
    margin-top: -10%

}
a:hover {
    background-color: gold;
  }
 button{
    text-align: right;
 } 









 